@font-face{ 
  font-family: 'RubikMoonrocks';
  src: url('./Assets/RubikMoonrocks-Regular.ttf');
  font-weight: bold;
  font-style: normal;
}

.main-font {
  font-family: 'RubikMoonrocks', sans-serif;
  font-size: 30px;
}