@font-face{ 
  font-family: 'RubikMoonrocks';
  src: url('./Assets/RubikMoonrocks-Regular.ttf');
  font-weight: bold;
  font-style: normal;
}

.main-font {
  font-family: 'RubikMoonrocks', sans-serif;
  font-size: 30px;
}

.card {
  margin: 2rem 0;
}

.rock-index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}